In [41]:
import findspark
findspark.init('/home/mak/spark-2.2.0-bin-hadoop2.7')

In [42]:
import pyspark

In [43]:
from pyspark.sql import SparkSession

In [44]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [78]:
df = spark.read.json('/home/mak/spark_udemy/1.Python-and-Spark-for-Big-Data-master/2.Spark_DataFrames/people.json')

In [66]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [47]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [48]:
df.columns

['age', 'name']

In [49]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [50]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [51]:
from pyspark.sql.types import (StructField, StringType,
                               IntegerType,StructType)

In [72]:
data_schema = [StructField('age', IntegerType(),True),
               StructField('name',IntegerType(),True)]

In [73]:
final_struct = StructType(fields=data_schema)

In [74]:
df = spark.read.json('/home/mak/spark_udemy/1.Python-and-Spark-for-Big-Data-master/2.Spark_DataFrames/people.json'
                    ,schema=final_struct)

In [63]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: integer (nullable = true)

In [56]:
##How to get a column
type(df['age'])

pyspark.sql.column.Column

In [75]:
df.select('age')

DataFrame[age: int]

In [79]:
df = spark.read.json('/home/mak/spark_udemy/1.Python-and-Spark-for-Big-Data-master/2.Spark_DataFrames/people.json')

In [80]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [81]:
df.select('name').show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [82]:
df.head(3)

[Row(age=None, name='Michael'),
 Row(age=30, name='Andy'),
 Row(age=19, name='Justin')]

In [84]:
df.head(2)[0]

Row(age=None, name='Michael')

In [85]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [88]:
df.select(['age','name'])

DataFrame[age: bigint, name: string]

In [89]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [91]:
## Add an new column or replace
df.withColumn('newage',df['age']).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [92]:
df.withColumn('doubleage',df['age']*2).show()

+----+-------+---------+
| age|   name|doubleage|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [94]:
df.withColumnRenamed('age','mynewage').show()

+--------+-------+
|mynewage|   name|
+--------+-------+
|    null|Michael|
|      30|   Andy|
|      19| Justin|
+--------+-------+

In [95]:
##Registed a temperory view named as people
df.createOrReplaceTempView('people')

In [96]:
results = spark.sql('select * from people')
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [98]:
new_results = spark.sql('select * from people where age=30').show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+