In [1]:
import findspark
findspark.init('/home/mak/spark-2.2.0-bin-hadoop2.7')
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('dates').getOrCreate()

In [6]:
df = spark.read.csv('/home/mak/spark_udemy/1.Python-and-Spark-for-Big-Data-master/2.Spark_DataFrames/appl_stock.csv',
                   inferSchema=True, header=True)

In [7]:
df.head(1)

[Row(Date=datetime.datetime(2010, 1, 4, 0, 0), Open=213.429998, High=214.499996, Low=212.38000099999996, Close=214.009998, Volume=123432400, Adj Close=27.727039)]

In [8]:
df.show()

+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|               Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04 00:00:00|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05 00:00:00|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06 00:00:00|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07 00:00:00|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08 00:00:00|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11 00:00:00|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12 00:00:00|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13 00:00:00|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14 00:00:00|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15 00:00:00|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19 00:00:00|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20 00:00:00|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21 00:00:00|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22 00:00:00|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25 00:00:00|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26 00:00:00|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27 00:00:00|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28 00:00:00|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29 00:00:00|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01 00:00:00|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+-------------------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [9]:
df.select('Date').show()

+-------------------+
|               Date|
+-------------------+
|2010-01-04 00:00:00|
|2010-01-05 00:00:00|
|2010-01-06 00:00:00|
|2010-01-07 00:00:00|
|2010-01-08 00:00:00|
|2010-01-11 00:00:00|
|2010-01-12 00:00:00|
|2010-01-13 00:00:00|
|2010-01-14 00:00:00|
|2010-01-15 00:00:00|
|2010-01-19 00:00:00|
|2010-01-20 00:00:00|
|2010-01-21 00:00:00|
|2010-01-22 00:00:00|
|2010-01-25 00:00:00|
|2010-01-26 00:00:00|
|2010-01-27 00:00:00|
|2010-01-28 00:00:00|
|2010-01-29 00:00:00|
|2010-02-01 00:00:00|
+-------------------+
only showing top 20 rows

In [13]:
from pyspark.sql.functions import dayofmonth,hour,dayofyear,month,year,weekofyear,format_number

In [14]:
df.select(dayofmonth(df['Date'])).show()

+----------------+
|dayofmonth(Date)|
+----------------+
|               4|
|               5|
|               6|
|               7|
|               8|
|              11|
|              12|
|              13|
|              14|
|              15|
|              19|
|              20|
|              21|
|              22|
|              25|
|              26|
|              27|
|              28|
|              29|
|               1|
+----------------+
only showing top 20 rows

In [15]:
df.select(month(df['Date'])).show()

+-----------+
|month(Date)|
+-----------+
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          1|
|          2|
+-----------+
only showing top 20 rows

In [16]:
df.select(year(df['Date'])).show()

+----------+
|year(Date)|
+----------+
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
|      2010|
+----------+
only showing top 20 rows

In [19]:
##Add a new column
new_df = df.withColumn('Year',df['Date'])

In [20]:
## so many years
new_df.groupBy('Year').mean().show()

+-------------------+------------------+------------------+------------------+------------------+-----------+------------------+
|               Year|         avg(Open)|         avg(High)|          avg(Low)|        avg(Close)|avg(Volume)|    avg(Adj Close)|
+-------------------+------------------+------------------+------------------+------------------+-----------+------------------+
|2010-12-16 00:00:00|        321.089993|322.61000099999995|         320.10001|        321.249996|  8.05077E7|         41.621005|
|2011-01-27 00:00:00|        343.779991|        344.689999|342.83000899999996|        343.209991|  7.12565E7|         44.466132|
|2011-03-23 00:00:00|339.27999500000004|         340.21999|        335.950012|        339.190006|  9.32491E7|         43.945305|
|2012-02-24 00:00:00| 519.6699980000001|        522.899979| 518.6400150000001| 522.4099809999999|  1.03768E8|         67.683203|
|2012-05-22 00:00:00|        569.550018|        573.879997|        552.580017|        556.970024| 1.737176E8|         72.160786|
|2012-12-27 00:00:00|        513.539978|            516.25|        504.659988|        515.060013| 1.137801E8|         67.323545|
|2013-01-18 00:00:00|        498.519981|        502.219986|        496.399986|        500.000015| 1.182307E8|         65.355052|
|2014-08-15 00:00:00|         97.900002|         98.190002|         96.860001|         97.980003|   4.8951E7|         93.429794|
|2011-08-11 00:00:00|        370.519989|        375.450008|         364.71999|        373.700008| 1.854923E8|         48.416405|
|2014-04-10 00:00:00|        530.680023|        532.240005| 523.1699980000001| 523.4800190000001|   5.9913E7|         70.562864|
|2014-10-31 00:00:00|        108.010002|        108.040001|        107.209999|             108.0|  4.46393E7|         102.98446|
|2015-05-04 00:00:00|             129.5|        130.570007|        128.259995|        128.699997|  5.09883E7|123.74173200000001|
|2010-07-13 00:00:00|        256.319992|        256.399994|246.42999300000002|251.79999500000002|  2.97731E8|         32.623094|
|2012-04-26 00:00:00|        614.269974| 614.6900099999999|         602.12999| 607.6999969999999| 1.340171E8|         78.733339|
|2012-06-22 00:00:00| 579.0400089999999|        582.189987|        575.420006|        582.099998|  7.11179E7|         75.416614|
|2013-01-30 00:00:00|        456.999992|        462.600014|        454.500015|        456.830002| 1.042888E8|         59.712295|
|2014-02-19 00:00:00| 544.7499849999999| 546.8900070000001|        534.350014|        537.370003|   7.8442E7|         72.435175|
|2014-05-15 00:00:00|         594.70002|        596.599983|        588.040001|        588.819992|  5.77115E7|         79.813726|
|2015-08-26 00:00:00|        107.089996|        109.889999|        105.050003|        109.690002|  9.67746E7|106.38401299999998|
|2016-02-29 00:00:00|         96.860001|         98.230003|         96.650002|         96.690002|  3.52163E7| 94.68826800000001|
+-------------------+------------------+------------------+------------------+------------------+-----------+------------------+
only showing top 20 rows

In [48]:
result = new_df.groupBy("Year").mean().select(['Year','avg(Close)'])

In [46]:
new = result.withColumnRenamed('avg(Close)', 'AVERAGE CLOSING PRICE').show()

+-------------------+---------------------+
|               Year|AVERAGE CLOSING PRICE|
+-------------------+---------------------+
|2010-12-16 00:00:00|           321.249996|
|2011-01-27 00:00:00|           343.209991|
|2011-03-23 00:00:00|           339.190006|
|2012-02-24 00:00:00|    522.4099809999999|
|2012-05-22 00:00:00|           556.970024|
|2012-12-27 00:00:00|           515.060013|
|2013-01-18 00:00:00|           500.000015|
|2014-08-15 00:00:00|            97.980003|
|2011-08-11 00:00:00|           373.700008|
|2014-04-10 00:00:00|    523.4800190000001|
|2014-10-31 00:00:00|                108.0|
|2015-05-04 00:00:00|           128.699997|
|2010-07-13 00:00:00|   251.79999500000002|
|2012-04-26 00:00:00|    607.6999969999999|
|2012-06-22 00:00:00|           582.099998|
|2013-01-30 00:00:00|           456.830002|
|2014-02-19 00:00:00|           537.370003|
|2014-05-15 00:00:00|           588.819992|
|2015-08-26 00:00:00|           109.690002|
|2016-02-29 00:00:00|            96.690002|
+-------------------+---------------------+
only showing top 20 rows

In [51]:
result.select(format_number('avg(Close)',2).alias('avg clse prz')).show()

+------------+
|avg clse prz|
+------------+
|      321.25|
|      343.21|
|      339.19|
|      522.41|
|      556.97|
|      515.06|
|      500.00|
|       97.98|
|      373.70|
|      523.48|
|      108.00|
|      128.70|
|      251.80|
|      607.70|
|      582.10|
|      456.83|
|      537.37|
|      588.82|
|      109.69|
|       96.69|
+------------+
only showing top 20 rows